:root {
    --bg-page: #fff; 
    --text-page: #000; 
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

body {
    color: var(--text-page);
    background-color: var(--bg-page);
    max-width: 90%;
    margin: 20px auto; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 20px; 
}


hr {
    margin: 20px 0; 
    background-color: var(--text-page);
}

picture {
    align-self: center;
}

picture img {
    border: 2px solid var(--text-page);
}

@media (prefers-color-scheme: dark){
    body {
        color: white;
        background-color: black;
    }
}

/* Estamos haciendo mobile-first porque ahora le decimos qué va a pasar cuando se agrande la pantalla */
@media screen and (min-width:950px) {
    body {
        max-width: 60%;
        margin: 10vh auto; 
        flex-direction: row;
        gap: 10vh; 
    }

    picture {
        align-self: flex-end;
    }
}