@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    
}

li {
    padding: 5px;
}

nav,
ul, 
section.nav-setting,
section.nav-principal nav,  
section.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul, 
section.nav-setting {
    justify-content: space-around;
}

header section.nav-setting {
    background-color:black;
    color: white;
}

header section.nav-principal {
    background-color: #F0A83E;
    padding: 24px;
}

section.nav-principal nav {
    justify-content: space-around;
    flex-wrap: nowrap;
}

/* Espacio entre las patitas y las opciones del nav-princpal */
section.nav-principal > nav > ul > li > img {
    padding-right: 3px;
}

section.banner {
    background-image: url('./images/bowl-and-pet-daities-on-green-background 1.png');
    color: #3C2313;
    background-size: cover;
    height: 490px;
    text-align: center;
}

section.banner h3 {
    background: white;
    font-size: 30px;
    height: 54px;

}

section.banner button {
    background: #F0A83E;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px;
    text-transform: uppercase;
    cursor: pointer;
}

section.banner p {
    font-size: 16px;
    padding: 10px;
}


section.destacados a {
    color: #666666;
}

section article figure span {
    color: #F0A83E;
    font-weight: bold;
}

footer {
    background-color: #3C2313;
    color: white;
}

footer section.centrado p {
    text-align: center;
    background-color: #F0A83E;
}

